<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>LecturePro</title>
  <meta name="description" content="LecturePro">
  <style type="text/css">
    #drop_zone {
      border: 5px solid blue;
      width: 200px;
      height: 100px;
    }
  </style>
</head>

<body>
  <h1>LecturePro Client</h1>
  <input type="file" name="file" accept="audio/*;" onchange="handleFiles(this.files)" ondrop="handleDrop(event)" ondragover="prevent(event)"
    ondragenter="prevent(event)">
  <button>Take a Quiz</button>
</body>
<script>
  function handleFiles(files) {
    sendAudioFile(files[0])
  }

  function handleDrop(event) {
    prevent(event);
    sendAudioFile(event.dataTransfer.files[0])
  }

  function sendAudioFile(file) {
    const formData = new FormData();
    formData.append('file', file, 'filename');
    fetch('http://localhost:8080/Lecture', {
      method: 'POST',
      body: formData,
      mode: 'cors'
    })
      .then(response => response.json())
      .catch(error => console.error('Error:', error))
      .then(response => console.log(response));
  }

  function prevent(event) {
    return event.preventDefault();
  }
</script>

</html>